#container {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  #clickCount {
    margin-left: 10px;
  }

  .image-container{
    border-radius: 30px;
  }

  
  body{
    background-color: rgb(169, 209, 150);
  }

  header h1 {
    text-align: center;
    color: darkblue;
  }

  .Input-header{
    border-radius: 10px;
    border: none;
    color: rgb(6, 65, 57);
    background-image: linear-gradient(to right, skyblue, red);
  }

  .corona {
    width: 30px;
  }

  .leaderbord {
    display: flex;
    align-items: center;
  }
  
  .people-leaderbord {
    margin-left: 30px;
  }

  .button-price {
    border: none;
    border-radius: 30px;
    margin-left: 15px;
    background-color: rgb(212, 110, 110);
    box-shadow: 0 6px #4fa283;
  }

  
